.error-message {
  min-height: .5em;
  height: auto;
  text-align: center;
  font-weight: 200;
  p{
    margin: 0;
    padding: 0;
    color: #FA787E;
  }
}

.message {
  min-height: .5em;
  height: auto;
  text-align: center;
  font-weight: 200;
  p{
    margin: 0;
    padding: 0;
  }
}