* {
	margin: 0;
	padding: 0;
	border: 0;
	text-decoration: none;
	box-sizing: content-box;
}


body {
	background: #f2f2f2;
	height:100%;
	width: 100%;
	a {
		color: white;
	}

}

h1, h2, h3, h4, h5, h6 {
    font-weight: 100;
}


nav#app-nav-bar {
  height: auto;
  width: 100%;
  color: white;
  background: rgba(0,0,0,0.7);
  >div{
      display: inline-block;
  }
  #app-info {
    width: 90%;
    >div {
        display: inline-block;
    }
    a {

    }
    #app-name {
      padding: 0em 2em 0 3em;
      vertical-align: center;
    }
    #app-for-mac {
      padding: 0em 1em;
      a {
        color: white;
      }
    }
    #app-for-windows {
      padding: 0em 1em;
      a {
        color: white;
      }
    }
  }
}


#page-title {
	text-align: center;
	width: 100%;
	padding: .5em 0;
	color: rgba(0,0,0,.7);
}

#signup-form {
	color: rgba(0,0,0,.7);
	>div {
	}
}


.ng-invalid.ng-dirty {
	border-color: #FA787E;
}

.ng-valid.ng-dirty {
	//border-color: #78FA89;
}


.error-message {
  min-height: .5em;
  height: auto;
  text-align: center;
  p{
    margin: 0;
    padding: 0;
    color: #FA787E;
  }
}

#check-username-availability {
  padding:.7em 2em;
  .progress {
    font-size: 1.3em;
  }

  .fa-search {
    color: rgba(0,0,0,.7);
    font-size: 1.4em;
  }

  .hidden {
    display: none;
  }
}

