body {
  background: #f2f2f2; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 100; }

nav#app-nav-bar {
  height: auto;
  width: 100%;
  color: white;
  background: rgba(0, 0, 0, 0.7); }
  nav#app-nav-bar > div {
    display: inline-block; }
  nav#app-nav-bar #app-info {
    width: 90%; }
    nav#app-nav-bar #app-info > div {
      display: inline-block; }
    nav#app-nav-bar #app-info a {
      color: white;
      text-decoration: none; }
    nav#app-nav-bar #app-info #app-name {
      padding: 0em 2em 0 3em;
      vertical-align: center; }
    nav#app-nav-bar #app-info #app-for-mac {
      padding: 0em 1em; }
      nav#app-nav-bar #app-info #app-for-mac a {
        color: white; }
    nav#app-nav-bar #app-info #app-for-windows {
      padding: 0em 1em; }
      nav#app-nav-bar #app-info #app-for-windows a {
        color: white; }

#message {
  margin: 7em 0;
  font-size: 2em;
  font-weight: 100;
  text-align: center;
  color: rgba(0, 0, 0, 0.5); }
