* {
  border: 0;
  margin: 0;
  padding: 0;
  text-decoration: none; }

body {
  color: white;
  font-weight: 200; }
  body h1, body h2, body h3, body h4, body h5, body h6 {
    font-weight: 100; }

div {
  -moz-box-sizing: content-box;
       box-sizing: content-box; }

nav#app-nav-bar {
  height: auto;
  width: 100%;
  background: rgba(255, 255, 255, 0); }
  nav#app-nav-bar > div {
    background: rgba(0, 0, 0, 0.8);
    color: white;
    height: 100%; }
    nav#app-nav-bar > div #section-one {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-flow: row nowrap;
          -ms-flex-flow: row nowrap;
              flex-flow: row nowrap;
      width: 100%; }
      nav#app-nav-bar > div #section-one #back-to-app-home {
        width: 6em;
        text-align: center;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: column;
            -ms-flex-flow: column;
                flex-flow: column; }
        nav#app-nav-bar > div #section-one #back-to-app-home a {
          color: white;
          display: block;
          margin: 1.7em 0 auto 0; }
      nav#app-nav-bar > div #section-one #page-title {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: row nowrap;
            -ms-flex-flow: row nowrap;
                flex-flow: row nowrap;
        width: 85%; }
        nav#app-nav-bar > div #section-one #page-title #app-name {
          padding-right: .5em;
          vertical-align: center;
          width: 32%;
          display: none; }
        nav#app-nav-bar > div #section-one #page-title #viewing-series {
          padding: 0em 1em;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-flex-flow: column;
              -ms-flex-flow: column;
                  flex-flow: column;
          display: none; }
          nav#app-nav-bar > div #section-one #page-title #viewing-series i {
            display: block;
            margin: auto 0 .5em 0; }
        nav#app-nav-bar > div #section-one #page-title #series-name {
          width: 100%;
          overflow-x: auto; }
          nav#app-nav-bar > div #section-one #page-title #series-name h1 {
            min-width: 100%; }
    nav#app-nav-bar > div #section-two {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-flow: row nowrap;
          -ms-flex-flow: row nowrap;
              flex-flow: row nowrap;
      -webkit-justify-content: flex-end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      background-color: rgba(255, 255, 255, 0.2); }
      nav#app-nav-bar > div #section-two #search-more-series .icon {
        padding-right: 1.5em; }
      nav#app-nav-bar > div #section-two #request-progress-bar {
        width: 5em;
        height: .5em;
        padding: 0;
        margin: 0;
        border-radius: 0;
        margin-top: .5em; }
      nav#app-nav-bar > div #section-two #request-progress-bar.display-none {
        display: none; }
      nav#app-nav-bar > div #section-two #subscription-status {
        text-align: center;
        padding-right: 0 3%;
        width: 8em;
        margin: 0; }
        nav#app-nav-bar > div #section-two #subscription-status a {
          color: white; }
        nav#app-nav-bar > div #section-two #subscription-status i {
          font-size: 1em; }
        nav#app-nav-bar > div #section-two #subscription-status .visibility-hidden {
          display: none; }
        nav#app-nav-bar > div #section-two #subscription-status span {
          width: auto;
          height: auto;
          line-height: 1.3;
          display: inline; }
      nav#app-nav-bar > div #section-two #signin-to-app {
        margin-right: 1.5em; }
        nav#app-nav-bar > div #section-two #signin-to-app button {
          padding: 0;
          margin: 0; }
        nav#app-nav-bar > div #section-two #signin-to-app #signin {
          color: rgba(255, 255, 255, 0.75); }
        nav#app-nav-bar > div #section-two #signin-to-app #signin-status-username a {
          color: white; }
        nav#app-nav-bar > div #section-two #signin-to-app #user-account-options #user-account {
          border-bottom: 0.0715em solid rgba(0, 0, 0, 0.15);
          padding-bottom: .5em; }
        nav#app-nav-bar > div #section-two #signin-to-app #user-account-options ul {
          padding: 0; }
        nav#app-nav-bar > div #section-two #signin-to-app #user-account-options li {
          list-style: none;
          padding: .2em 1.2em;
          color: rgba(0, 0, 0, 0.7);
          font-weight: 400; }
          nav#app-nav-bar > div #section-two #signin-to-app #user-account-options li a {
            color: rgba(0, 0, 0, 0.7);
            text-decoration: none; }

@media screen and (min-width: 1101px) {
  #blur-layer {
    -webkit-filter: blur(0.8em);
            filter: blur(0.8em);
    z-index: 4;
    position: absolute;
    height: 100%;
    width: 100%; }

  #series {
    position: absolute;
    width: 100%;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.5); }

  #series-section {
    width: 100%; }
    #series-section #series-info {
      width: 100%; }
    #series-section #series-info > div {
      width: 45%;
      padding: 0 2.5%; }
    #series-section #series-info {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-flow: row nowrap;
          -ms-flex-flow: row nowrap;
              flex-flow: row nowrap;
      height: 57em; }
      #series-section #series-info #series-artwork img {
        width: 80%;
        margin: 15% 10%;
        min-height: 44em; }
      #series-section #series-info #series-details {
        height: 100%; }
        #series-section #series-info #series-details #series-details-inner {
          width: 100%;
          margin: 15% 0;
          height: 70%; }
        #series-section #series-info #series-details #cast {
          height: 44%; }
          #series-section #series-info #series-details #cast #cast-title {
            margin: 0;
            height: 13%; }
          #series-section #series-info #series-details #cast #actors {
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-flow: row wrap;
                -ms-flex-flow: row wrap;
                    flex-flow: row wrap;
            width: 100%;
            height: 86%;
            padding-top: 1%; }
            #series-section #series-info #series-details #cast #actors .actor {
              width: 15%;
              margin-right: 5%;
              font-size: .8em; }
              #series-section #series-info #series-details #cast #actors .actor .actor-inner {
                postion: relative;
                width: 100%;
                height: 100%; }
                #series-section #series-info #series-details #cast #actors .actor .actor-inner img {
                  min-height: 9.6em;
                  width: 100%;
                  border-radius: 15em;
                  background-color: rgba(255, 255, 255, 0.25); }
                #series-section #series-info #series-details #cast #actors .actor .actor-inner .actor-description {
                  height: 6em;
                  overflow: auto;
                  text-align: center; }
        #series-section #series-info #series-details #other-details {
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-flex-flow: row wrap;
              -ms-flex-flow: row wrap;
                  flex-flow: row wrap;
          height: 20%;
          margin-top: 3%; }
        #series-section #series-info #series-details #other-details > div {
          width: 50%; }
        #series-section #series-info #series-details #other-details > div > div {
          display: inline-block; }
        #series-section #series-info #series-details #other-details > div#coming-up {
          width: 100%; }
        #series-section #series-info #series-details #other-details > div#coming-up > div:first-child {
          width: 20%; }
        #series-section #series-info #series-details #other-details > div > div:first-child {
          width: 40%; }
        #series-section #series-info #series-details #overview {
          height: 36%; }
          #series-section #series-info #series-details #overview #overview-title {
            height: 15%; }
          #series-section #series-info #series-details #overview #overview-body {
            height: 84%;
            overflow: auto; }

  #seasons-container {
    color: white;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column wrap;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap; }
    #seasons-container .season {
      width: 95%;
      padding: 2.5%;
      background-color: rgba(0, 0, 0, 0.5); }

  .season-body {
    width: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap; }
    .season-body .season-body-half {
      width: 50%;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-flow: column wrap;
          -ms-flex-flow: column wrap;
              flex-flow: column wrap; }
      .season-body .season-body-half .episode {
        padding-top: .15%;
        -webkit-transition: all .6s ease-in-out;
                transition: all .6s ease-in-out; }
        .season-body .season-body-half .episode .episode-title {
          border-radius: .2em;
          width: 97.5%;
          padding: 0 1.25%;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-flex-flow: row nowrap;
              -ms-flex-flow: row nowrap;
                  flex-flow: row nowrap; }
          .season-body .season-body-half .episode .episode-title .episode-name {
            width: 75%; }
            .season-body .season-body-half .episode .episode-title .episode-name > div {
              margin: 0;
              padding: 0; }
            .season-body .season-body-half .episode .episode-title .episode-name .episode-number {
              width: 5%;
              display: inline-block;
              vertical-align: top; }
            .season-body .season-body-half .episode .episode-title .episode-name .episode-name-inner {
              width: 93%;
              display: inline-block; }
          .season-body .season-body-half .episode .episode-title .episode-air-date {
            width: 25%;
            text-align: right; }
        .season-body .season-body-half .episode .episode-title:hover {
          background-color: rgba(255, 255, 255, 0.25); }
        .season-body .season-body-half .episode .episode-title.selected {
          background-color: rgba(255, 255, 255, 0.25); }
        .season-body .season-body-half .episode .episode-body {
          font-size: .9em;
          width: 95%;
          padding: .5% 2.5%;
          padding-bottom: 1.5%;
          max-height: 5.55em;
          overflow: auto; }
          .season-body .season-body-half .episode .episode-body p {
            margin: 0;
            padding: 0; }
        .season-body .season-body-half .episode .episode-body.display-none {
          display: none; }
      .season-body .season-body-half .episode {
        width: 98.75%;
        padding-right: 1.25%; } }
@media screen and (max-width: 504px) {
  #blur-layer {
    -webkit-filter: blur(0.8em);
            filter: blur(0.8em);
    z-index: 4;
    position: absolute;
    height: 100%;
    width: 100%; }

  #series {
    position: absolute;
    width: 100%;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.5); }

  #series-section {
    width: 100%; }
    #series-section #series-info {
      width: 100%; }
    #series-section #series-info {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-flow: column nowrap;
          -ms-flex-flow: column nowrap;
              flex-flow: column nowrap; }
      #series-section #series-info > div {
        width: 90%;
        padding: 0 5%; }
      #series-section #series-info #series-artwork {
        width: 100%;
        padding: 0;
        margin: 0; }
      #series-section #series-info #series-artwork img {
        width: 100%;
        margin: 0 0 5% 0; }
      #series-section #series-info #series-details #series-details-inner {
        width: 100%;
        margin: 15% 0; }
      #series-section #series-info #series-details #cast {
        overflow-x: auto; }
        #series-section #series-info #series-details #cast #cast-title {
          margin: 0; }
        #series-section #series-info #series-details #cast #actors {
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-flex-flow: row nowrap;
              -ms-flex-flow: row nowrap;
                  flex-flow: row nowrap;
          width: 120%;
          padding-top: 1%; }
          #series-section #series-info #series-details #cast #actors .actor {
            width: 15%;
            margin-right: 5%;
            font-size: .8em; }
            #series-section #series-info #series-details #cast #actors .actor .actor-inner {
              postion: relative;
              width: 100%;
              height: 100%; }
              #series-section #series-info #series-details #cast #actors .actor .actor-inner img {
                min-height: 9.6em;
                width: 100%;
                border-radius: 15em; }
              #series-section #series-info #series-details #cast #actors .actor .actor-inner .actor-description {
                height: 6em;
                overflow: auto;
                text-align: center; }
      #series-section #series-info #series-details #other-details {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: column wrap;
            -ms-flex-flow: column wrap;
                flex-flow: column wrap;
        height: 20%;
        margin-top: 3%; }
      #series-section #series-info #series-details #other-details > div {
        width: 100%; }
      #series-section #series-info #series-details #other-details > div > div {
        display: inline-block; }
      #series-section #series-info #series-details #other-details > div#coming-up {
        width: 100%; }
      #series-section #series-info #series-details #other-details > div#coming-up > div:first-child {
        width: 20%; }
      #series-section #series-info #series-details #other-details > div > div:first-child {
        width: 40%; }
      #series-section #series-info #series-details #overview {
        height: 36%; }
        #series-section #series-info #series-details #overview #overview-title {
          height: 15%; }
        #series-section #series-info #series-details #overview #overview-body {
          height: 84%;
          overflow: auto; }

  #seasons-container {
    color: white;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column wrap;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap; }
    #seasons-container .season {
      width: 95%;
      padding: 2.5%;
      background-color: rgba(0, 0, 0, 0.5); }

  .season-body {
    width: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column nowrap;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap; }
    .season-body .season-body-half {
      width: 100%;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-flow: column wrap;
          -ms-flex-flow: column wrap;
              flex-flow: column wrap; }
      .season-body .season-body-half .episode {
        padding-top: .15%;
        -webkit-transition: all .6s ease-in-out;
                transition: all .6s ease-in-out; }
        .season-body .season-body-half .episode .episode-title {
          border-radius: .2em;
          width: 97.5%;
          padding: 0 1.25%;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-flex-flow: row nowrap;
              -ms-flex-flow: row nowrap;
                  flex-flow: row nowrap; }
          .season-body .season-body-half .episode .episode-title .episode-name {
            width: 75%; }
            .season-body .season-body-half .episode .episode-title .episode-name > div {
              margin: 0;
              padding: 0; }
            .season-body .season-body-half .episode .episode-title .episode-name .episode-number {
              width: 5%;
              display: inline-block;
              vertical-align: top; }
            .season-body .season-body-half .episode .episode-title .episode-name .episode-name-inner {
              width: 93%;
              display: inline-block; }
          .season-body .season-body-half .episode .episode-title .episode-air-date {
            width: 25%;
            text-align: right; }
        .season-body .season-body-half .episode .episode-title:hover {
          background-color: rgba(255, 255, 255, 0.25); }
        .season-body .season-body-half .episode .episode-title.selected {
          background-color: rgba(255, 255, 255, 0.25); }
        .season-body .season-body-half .episode .episode-body {
          font-size: .9em;
          width: 95%;
          padding: .5% 2.5%;
          padding-bottom: 1.5%;
          max-height: 5.7em;
          overflow: auto; }
          .season-body .season-body-half .episode .episode-body p {
            margin: 0;
            padding: 0; }
        .season-body .season-body-half .episode .episode-body.display-none {
          display: none; }
      .season-body .season-body-half .episode {
        width: 98.75%;
        padding-right: 1.25%; } }
@media screen and (min-width: 505px) and (max-width: 1100px) {
  #blur-layer {
    -webkit-filter: blur(0.8em);
            filter: blur(0.8em);
    z-index: 4;
    position: absolute;
    height: 100%;
    width: 100%; }

  #series {
    position: absolute;
    width: 100%;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.5); }

  #series-section {
    width: 100%; }
    #series-section #series-info {
      width: 100%; }
    #series-section #series-info {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-flow: column nowrap;
          -ms-flex-flow: column nowrap;
              flex-flow: column nowrap; }
      #series-section #series-info > div {
        width: 90%;
        padding: 0 5%; }
      #series-section #series-info #series-artwork {
        width: 100%;
        padding: 0;
        margin: 0; }
      #series-section #series-info #series-artwork img {
        width: 100%;
        margin: 0 0 5% 0; }
      #series-section #series-info #series-details #series-details-inner {
        width: 100%;
        margin: 15% 0; }
      #series-section #series-info #series-details #cast {
        overflow-x: auto; }
        #series-section #series-info #series-details #cast #cast-title {
          margin: 0; }
        #series-section #series-info #series-details #cast #actors {
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-flex-flow: row nowrap;
              -ms-flex-flow: row nowrap;
                  flex-flow: row nowrap;
          width: 60em;
          padding-top: 1%; }
          #series-section #series-info #series-details #cast #actors .actor {
            width: 8em;
            margin-right: 5em;
            font-size: .8em; }
            #series-section #series-info #series-details #cast #actors .actor .actor-inner {
              postion: relative;
              width: 100%;
              height: 100%; }
              #series-section #series-info #series-details #cast #actors .actor .actor-inner img {
                min-height: 9.6em;
                width: 100%;
                border-radius: 15em; }
              #series-section #series-info #series-details #cast #actors .actor .actor-inner .actor-description {
                height: 6em;
                overflow: auto;
                text-align: center; }
      #series-section #series-info #series-details #other-details {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: row wrap;
            -ms-flex-flow: row wrap;
                flex-flow: row wrap;
        height: 20%;
        margin-top: 3%; }
      #series-section #series-info #series-details #other-details > div {
        width: 50%; }
      #series-section #series-info #series-details #other-details > div > div {
        display: inline-block; }
      #series-section #series-info #series-details #other-details > div#coming-up {
        width: 100%; }
      #series-section #series-info #series-details #other-details > div#coming-up > div:first-child {
        width: 20%; }
      #series-section #series-info #series-details #other-details > div > div:first-child {
        width: 40%; }
      #series-section #series-info #series-details #overview {
        height: 36%; }
        #series-section #series-info #series-details #overview #overview-title {
          height: 15%; }
        #series-section #series-info #series-details #overview #overview-body {
          height: 84%;
          overflow: auto; }

  #seasons-container {
    color: white;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column wrap;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap; }
    #seasons-container .season {
      width: 95%;
      padding: 2.5%;
      background-color: rgba(0, 0, 0, 0.5); }

  .season-body {
    width: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column nowrap;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap; }
    .season-body .season-body-half {
      width: 100%;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-flow: column wrap;
          -ms-flex-flow: column wrap;
              flex-flow: column wrap; }
      .season-body .season-body-half .episode {
        padding-top: .15%;
        -webkit-transition: all .6s ease-in-out;
                transition: all .6s ease-in-out; }
        .season-body .season-body-half .episode .episode-title {
          border-radius: .2em;
          width: 97.5%;
          padding: 0 1.25%;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-flex-flow: row nowrap;
              -ms-flex-flow: row nowrap;
                  flex-flow: row nowrap; }
          .season-body .season-body-half .episode .episode-title .episode-name {
            width: 75%; }
            .season-body .season-body-half .episode .episode-title .episode-name > div {
              margin: 0;
              padding: 0; }
            .season-body .season-body-half .episode .episode-title .episode-name .episode-number {
              width: 5%;
              display: inline-block;
              vertical-align: top; }
            .season-body .season-body-half .episode .episode-title .episode-name .episode-name-inner {
              width: 93%;
              display: inline-block; }
          .season-body .season-body-half .episode .episode-title .episode-air-date {
            width: 25%;
            text-align: right; }
        .season-body .season-body-half .episode .episode-title:hover {
          background-color: rgba(0, 0, 0, 0.4); }
        .season-body .season-body-half .episode .episode-title.selected {
          background-color: rgba(0, 0, 0, 0.4); }
        .season-body .season-body-half .episode .episode-body {
          font-size: .9em;
          width: 95%;
          padding: .5% 2.5%;
          padding-bottom: 1.5%;
          max-height: 5.7em;
          overflow: auto; }
          .season-body .season-body-half .episode .episode-body p {
            margin: 0;
            padding: 0; }
        .season-body .season-body-half .episode .episode-body.display-none {
          display: none; }
      .season-body .season-body-half .episode {
        width: 98.75%;
        padding-right: 1.25%; } }
#not-signedin-error {
  color: rgba(0, 0, 0, 0.8);
  font-weight: normal; }
  #not-signedin-error .modal-title {
    font-weight: normal; }
  #not-signedin-error a {
    color: white; }

h4::before {
  padding-right: 0;
  margin-left: 0;
  content: "";
  color: #9ddcff; }

#search-more-series-modal {
  color: rgba(0, 0, 0, 0.7);
  font-weight: normal a;
    font-weight-color: white;
    font-weight-text-decoration: none; }
  #search-more-series-modal a:hover {
    color: white; }

#search-more-series {
  position: relative; }
  #search-more-series #search-section {
    width: 22em;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 2; }
    #search-more-series #search-section #search-query, #search-more-series #search-section #search-results {
      color: rgba(0, 0, 0, 0.5);
      font-weight: 400;
      width: 100%;
      background-color: rgba(255, 255, 255, 0.25); }
    #search-more-series #search-section #search-query input {
      width: 95%;
      margin: 2% 2.5% 0.5% 2.5%;
      border-radius: .2em;
      background-color: rgba(255, 255, 255, 0.45);
      text-align: center; }
    #search-more-series #search-section #search-query input:focus {
      outline: none; }
    #search-more-series #search-section #search-results {
      border-radius: .2em;
      padding-bottom: .65em; }
      #search-more-series #search-section #search-results .search-result {
        width: 95%;
        padding: 2.5% 3% 0 2.5%;
        border-radius: 0 0 .2em .2em; }
        #search-more-series #search-section #search-results .search-result a {
          text-decoration: none;
          color: white; }
          #search-more-series #search-section #search-results .search-result a img {
            width: 100%;
            height: 3.5em;
            background: rgba(255, 255, 255, 0.45);
            border-radius: .2em;
            border-color: transparent; }
      #search-more-series #search-section #search-results #search-progress {
        color: rgba(255, 255, 255, 0.45);
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: 95%;
        padding: 2.5% 3% 0 2.5%; }
        #search-more-series #search-section #search-results #search-progress > div {
          margin: 0 auto; }
  #search-more-series #search-section.hidden {
    display: none; }
  #search-more-series #search-section-background {
    -webkit-filter: blur(5em);
            filter: blur(5em);
    width: 22em;
    height: 22em;
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    right: 0;
    z-index: 0; }

/*# sourceMappingURL=series.css.map */