<!DOCTYPE html>
<html>
  <head >
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="css/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="css/pygment_trac.css" media="screen">
    <link rel="stylesheet" type="text/css" href="css/print.css" media="print">
    <link rel="stylesheet" type="text/css" href="includes/font-awesome/4.2.0/css/font-awesome.min.css">
    

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]--> 

    <script type="text/javascript" src="includes/jquery/1.11.0/jquery.min.js"></script>
    <script type="text/javascript" src="includes/modernizr/83855/custom/modernizr.js"></script>
    <!--
    <script type="text/javascript" src="includes/angular-js/1.3.9/angular.js"></script>
    -->
    <script type="text/javascript" src="includes/angular-js/1.3.13/angular.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="includes/nicescroll/3.6.0/nicescroll.js"></script>


    <link rel="stylesheet" href="includes/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="includes/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script  type="text/javascript" src="includes/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="css/series.css">



    <title>TV Series: {{name}}</title>
  </head>

  <body ng-app="app" ng-controller="controller as appController">
    <div id="blur-layer" blur-layer-directive></div>
    <div id="series">
    
    <nav id="app-nav-bar" nav-bar-directive>
      <div>
        <div id="section-one">
          <div id="back-to-app-home"><a href="/"><i class="fa fa-angle-left fa-2x"></i></a></div>
          <div id="page-title">
            <div id="app-name"><h1>TV Series</h1></div>
            <div id="viewing-series"><i class="fa fa-caret-right fa-2x"></i></div>
            <div id="series-name" data-series-name={{name}} data-series-id={{id}}><h1>{{name}}</h1></div>
          </div>
        </div>
        
        <div id="section-two">
          <div class="progress" id="request-progress-bar">
            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
            </div>
          </div>
          <div id="subscription-status" series-subscription-directive>
            {{{{raw-helper}}}}
            <a href="#">
             <span id="subscribe" class="visibility-hidden">
                <!--<i class="fa fa-rss fa-2x visibility-hidden"></i>-->
                Subscribe
             </span>
              
              <span id="unsubscribe" class="visibility-hidden" >
              <!--
                <i class="fa fa-minus fa-stack-1x visibility-hidden"></i>
                <i class="fa fa-rss fa-stack-1x visibility-hidden"></i>
                -->
                Unsubscribe
              </span>
              
            </a> 
            {{{{/raw-helper}}}} 
          </div>
          <div class="dropdown" id="signin-to-app" class="dropdown" >
            <div class="dropdown-toggle" data-toggle="{{toggle}}" type="button" id="signin-status-username" aria-expanded="true">
              <a href="{{signinPage}}">
                {{status}}
                {{#if signinStatus}}
                  <span class="caret"></span>
                {{/if}}
              </a>
              
            </div>
            <ul id="user-account-options" class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1">
              <ul id="user-account">
                <li id="user-fullname">{{firstName}} {{lastName}}</li>
                <li id="user-email">{{email}}</li>
              </ul>
              <ul id="user-options">
                <li id="dashboard-link"><a role="menuitem" tabindex="-1" href="{{dashboardPage}}">Dashboard</a></li>
                <li id="signout-link"><a role="menuitem" tabindex="-1" href="{{signout}}">Sign out</a></li>
              </ul>
            </ul>
          </div>
          {{{{raw-helper}}}}
          <div id="search-more-series" search-more-series-directive>
            <div class="icon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></div>
            <div id="search-section" class="hidden">
              <div id="search-query">
                <input ng-model="search.query" ng-change="search.makeQuery()" autofocus/>
              </div>
              <div id="search-results">
                <div id="search-progress" ng-show="search.results.length == 0 && search.query"><div><i class="fa fa-circle-o-notch fa-spin"></i></div></div>
                <div class="search-result" ng-repeat="series in search.results">
                  <a href="/series?name={{series.name}}&id={{series.id}}&bannerUrl={{series.bannerUrl}}&altBannerUrl={{series.banner}}">
                    <img ng-src="{{series.banner}}" alt="{{series.name}}"/>
                  </a>
                </div>
              </div>
            </div>
            <!-- end of search-section -->
            <!--
            <div id="search-section-background"></div>
            -->
          </div>
          {{{{/raw-helper}}}}

        </div>
      </div> 
    </nav>
      
      
      {{{{raw-helper}}}}
      <div id="series-section">
        
        <div id="series-info">
          
          <div id="series-artwork">
            <img ng-src="{{appController.appData.currentArtworkUrl}}" series-artwork-directive></img>
          </div>
          
          <div id="series-details">
            <div id="series-details-inner">
              <div id="cast">
                <h3 id="cast-title">Cast</h3>
                <div id="actors" all-actors-directive>
                  <div ng-repeat="actor in appController.appData.actors | limitTo: 5" class="actor">
                    <actor-template class="actor-inner"></actor-template>
                  </div>
                  <div ng-show="appController.appData.actorsNotDownloaded">Getting Cast Information</div> 
                  <div ng-hide="appController.appData.castAvailable">Cast Information not Available</div>
                </div>
                
              </div>

              <div id="overview">
                <div id="overview-title"><h3>Overview</h3></div>
                <div id="overview-body" series-overview-body-directive>
                  <p>{{appController.appData.seriesDataNotDownloaded ? "Getting Overview" : appController.appData.data.overview}}<p>
                </div>
              </div>

              <div id="other-details">
                <div id="network">
                  <div>Network</div> : 
                  <div>{{appController.appData.data.network}}</div>
                </div>
                <div id="content-rating">
                  <div>Content-Rating</div> : 
                  <div>{{appController.appData.data.contentRating}}</div>
                </div>

                <div id="number-of-season">
                  <div>Seasons</div> :
                  <div>{{appController.appData.data.seasons.length}}</div>
                </div>
                <div id="runing-status">
                  <div>Status</div> :
                  <div>{{appController.appData.data.runningStatus}}</div>
                </div>

                <div id="airs-on-day-of-week" ng-hide="!appController.appData.data.airsOnDayOfWeek">
                  <div>Airs On</div> : 
                  <div>{{appController.appData.data.airsOnDayOfWeek}}</div>
                </div>
                <div id="airs-at-time" ng-hide="!appController.appData.data.airsAtTime">
                  <div>Air Time</div> :
                  <div>{{appController.appData.data.airsAtTime}}</div>
                </div>
                
                <div id="coming-up" ng-hide="appController.appData.data.runningStatus != 'Continuing'" class="ng-cloak">
                  <div>Coming Up</div> :
                  <div>
                    <span class=""> S<span ng-show="appController.appData.data.comingUp.season<=9">{{0}}</span>{{appController.appData.data.comingUp.season}}E<span ng-show="appController.appData.data.comingUp.number<=9">{{0}}</span>{{appController.appData.data.comingUp.number}} </span>
                    <span>{{appController.appData.data.comingUp.name}} - </span>
                    <span>{{appController.appData.data.comingUp.airDate | date: 'mediumDate'}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    <div id="seasons-container" all-seasons-directive>
      <!-- iterating over each season-->
      <div ng-repeat="season in appController.appData.data.seasons" class="season" season-directive>
        <div class="season-title">
          <h3 ng-show="season.number==0">Specials</h3>
          <h3 ng-show="season.number>=1">Season {{season.number}}</h3>
        </div>
        <div class="season-body">
          <!-- iterating over episodes in a season-->
          <div class="season-body-half">
            <div ng-repeat="episode in season.episodes | sliceFirstHalf" class="episode">
              
              <!-- episode contents-->
              <div class="episode-title" episode-directive>
                <div class="episode-name">
                  <span class="episode-number"><span ng-show="episode.number<=9">{{0}}</span>{{episode.number}}</span>
                  <span class="episode-name-inner">{{episode.name}}</span>
                </div>
                <div class="episode-air-date">{{episode.airDate | date: 'mediumDate'}} </div>
              </div>
              <div class="episode-body display-none antiscroll-wrap">
                <div class="antiscroll-inner">
                  <p>{{episode.overview ? episode.overview : "Overview not Available"}}</p>
                </div>
              </div>             
              <!-- end of episode contents-->

            </div>
          </div>

          <div class="season-body-half">
            <div ng-repeat="episode in season.episodes | sliceSecondHalf" class="episode">
              
              <!-- episode contents-->
              <div class="episode-title" episode-directive>
                <div class="episode-name">
                  <span class="episode-number"><span ng-show="episode.number<=9">{{0}}</span>{{episode.number}}</span>
                  <span class="episode-name-inner">{{episode.name}}</span>
                </div>
                <div class="episode-air-date">{{episode.airDate | date: 'mediumDate'}} </div>
              </div>
              <div class="episode-body display-none antiscroll-wrap">
                <div class="antiscroll-inner">
                  <p>{{episode.overview ? episode.overview : "Overview not Available"}}</p>
                </div>
              </div>            
              <!-- end of episode contents-->

            </div>
          </div>


        </div>

      </div>
    </div>




    </div>
    {{{{/raw-helper}}}}

    <!-- Button trigger modal -->

    <!-- Modal -->
    
    <div class="modal fade" id="not-signedin-error" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">Unable to Subscribe</h4>
          </div>
          <div class="modal-body">
            You are not signed in. Sign in now to subscribe to {{name}}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="confirm-delete">
              <a href="/signin?redirect=/series&&name={{name}}&id={{id}}&bannerUrl={{bannerUrl}}&altBannerUrl={{altBannerUrl}}">Sign in</a>

            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Search more series modal -->
    <div class="modal fade" id="search-more-series-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" search-more-series-directive>
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">Search More Series</h4>
          </div>
          <div class="modal-body">
            
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="#">
              <a href="#">Sign in</a>

            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- end of search more series modal -->



  </body>
</html>
