<div class="tv-series-component-body">
    <div class="wrapper">
        <div class="tv-series-name-options">
            <div class="exit-tv-series-component action tv-series-option"
                 (click)="exitTVSeriesComponent()">
                <i class="fa fa-angle-left" aria-hidden="true"></i>
            </div>
            <div class="tv-series-name">{{tvSeries.name}}</div>
            <div class="load-search-component action tv-series-option"
                 (click)="loadSearchComponent()">
                <i class="fa fa-search" aria-hidden="true"></i>
            </div>
        </div>
        <div class="tv-series-artwork-info-seasons">
            <div class="tv-series-artwork-info">
                <div class="tv-series-artwork">
                    <img [src]="tvSeries.artwork" class="image vertical">
                    <img [src]="tvSeries.banner" class="image horizontal">
                </div>
                <div class="tv-series-info">
                    <div class="tv-series-cast">
                        <div class="sub-title cast-title">Cast</div>
                        <div class="tv-series-cast-members">
                            <cast-member-component class="tv-series-cast-member"
                                                   *ngFor="let castMember of castMembers"
                                                   [tvSeriesCastMember]="castMember">
                                Getting Cast ...
                            </cast-member-component>
                        </div>
                    </div>
                    <div class="tv-series-quick-info">
                        <div class="tv-series-overview">
                            <div class="sub-title tv-series-overview-title">Overview</div>
                            <div class="tv-series-overview-content">
                                <p>{{tvSeries.overview || 'overview not available ...'}}</p>
                            </div>
                        </div>
                        <div class="tv-series-running-info">
                            <span *ngIf="tvSeries.runningStatus == TV_SERIES_RUNNING_STATUS.CONTINUING">
                                {{"airs on " + tvSeries.network + " " + tvSeries.airsOnDayOfWeek + "\'s at " + tvSeries.airsAtTime | lowercase}}
                            </span>
                            <span *ngIf="tvSeries.runningStatus == TV_SERIES_RUNNING_STATUS.ENDED">
                                {{tvSeries.name +" ended after " + tvSeries.seasons?.length + " seasons" | lowercase}}
                            </span>
                        </div>
                        <div class="tv-series-season-count" *ngIf="tvSeries.runningStatus == TV_SERIES_RUNNING_STATUS.CONTINUING">
                            {{tvSeries.seasons?.length}} {{tvSeries.seasons?.length == 1 ? ' season': ' seasons'}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="tv-series-seasons">
                <season-component class="season"
                                  *ngFor="let season of tvSeries.seasons"
                                  [seriesSeason]="season">
                </season-component>
            </div>
        </div>
    </div>
</div>

<div class="tv-series-component-blur-layer blur-layer" [ngStyle]="{ backgroundImage: 'url(' + tvSeries.banner + ')' }"></div>